<template>
  <v-app id="login" class="primarys">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm6 md4 lg3>
            <v-card class="elevation-1 pa-3">
              <v-form ref="form" @submit.prevent="login()">
                <v-card-text>
                  <div class="layout column align-center">
                    <img v-bind:src="require('../assets/logo.svg')" alt="Logo" width="140" />
                    <h2 class="flex my-4 primary--text">Autenticación</h2>
                  </div>
                  <v-text-field
                    append-icon="person"
                    name="usuario"
                    label="Usuario"
                    type="text"
                    v-model="lmodel.email"
                    :rules="[v => !!v || 'El campo es requerido']"
                    browser-autocomplete="off"
                  ></v-text-field>
                  <v-text-field
                    append-icon="lock"
                    name="password"
                    label="Contraseña"
                    id="password"
                    type="password"
                    v-model="lmodel.password"
                    :rules="[v => !!v || 'El campo es requerido']"
                    browser-autocomplete="off"
                  ></v-text-field>
                  <span class="red--text" v-if="message != ''">{{ message }}</span>
                </v-card-text>
                <v-card-actions>
                  <v-btn icon>
                    <v-icon color="blue">fa fa-facebook-square fa-lg</v-icon>
                  </v-btn>
                  <v-btn icon>
                    <v-icon color="light-blue">fa fa-twitter fa-lg</v-icon>
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn type="submit" block color="primary" :loading="loading">Ingresar</v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    loading: false,
    lmodel: {
      email: "admin",
      password: "admin"
    },
    message: ""
  }),
  created() {
    this.logout();
  },
  methods: {
    login() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        this.$store
          .dispatch("login", this.lmodel)
          .then(response => {
            this.loading = false;
            if (response.status == "error") {
              this.message = response.msg;
            } else {
              this.$router.push("/inicio");
            }
          })
          .catch(err => {
            this.loading = false;
            this.message = err.msg;
          });
      }
    },
    logout: function() {
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/autenticacion");
      });
    }
  }
};
</script>
<style scoped lang='css'>
#login {
  /* background-image: linear-gradient(to right top, #2196f3, #189cf4, #14a2f5, #17a8f5, #1faef5, #05b7f7, #00c0f9, #00c9f9, #00d6fa, #1ee3f9, #40eff6, #5ffbf1); */
  background-color: #2196f3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23fafafa' fill-opacity='0.2'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
</style>
