<template>
  <div id="roles">
    <v-container grid-list-xl fluid>
      <v-card-title>
        <h4>
          <v-icon small color="primary">drag_indicator</v-icon>
          Roles
        </h4>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Buscar"
          single-line
        >
        </v-text-field>
        <!-- <v-spacer></v-spacer> -->
        <v-btn color="primary" dark @click="showDialog()">
          <v-icon>add</v-icon>Nuevo
        </v-btn>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="roles"
        class="elevation-1"
        rows-per-page-text="Filas por página"
        no-data-text="No existen registros"
        no-results-text="Sin resultados"
        page-text="de"
        v-bind:search="search"
        v-cloak
      >
        <template v-slot:items="props">
          <td>{{ props.index + 1 }}</td>
          <td>{{ props.item.descripcion }}</td>
          <td>
            <span v-if="props.item.estado == 1">
              <v-chip small color="green lighten-4">activo</v-chip>
            </span>
            <span v-else>
              <v-chip small color="red lighten-4">inactivo</v-chip>
            </span>
          </td>
          <td>
            <v-btn
              depressed
              outline
              icon
              fab
              dark
              color="success"
              small
              @click="editItem(props.item)"
            >
              <v-icon>edit</v-icon>
            </v-btn>
            <v-btn
              depressed
              outline
              icon
              fab
              dark
              color="pink"
              small
              @click="confirmItem(props.item.id)"
            >
              <v-icon>delete</v-icon>
            </v-btn>
          </td>
        </template>
      </v-data-table>
    </v-container>
    <v-dialog v-model="mdialog" max-width="500px">
      <v-form ref="form">
        <v-card>
          <v-card-title class="headline grey lighten-3" primary-title>
            <span class="headline">Rol</span>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field
                    type="text"
                    label="Descripción"
                    v-model="rol.descripcion"
                    :rules="[v => !!v || 'El campo es requerido']"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    label="Estado"
                    :items="estados"
                    v-model="rol.estado"
                    item-text="descripcion"
                    item-value="id"
                    :disabled="mode"
                  ></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="success darken-1"
              flat
              v-show="mode"
              @click.native="createRol()"
            >
              Guardar
            </v-btn>
            <v-btn
              color="success darken-1"
              flat
              v-show="!mode"
              @click.native="updateRol()"
            >
              Actualizar
            </v-btn>
            <v-btn color="blue darken-1" flat @click.native="mdialog = false">
              Cerrar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
    <v-dialog v-model="mconfirm" width="300">
      <v-card>
        <v-card-title class="headline grey lighten-3" primary-title>
          <span class="headline">Alerta</span>
        </v-card-title>
        <v-card-text>Esta seguro(a) de eliminar el registro?</v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="success darken-1" flat @click="deleteItem()">
            Aceptar
          </v-btn>
          <v-btn color="blue darken-1" flat @click="mconfirm = false">
            Cancelar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar
      v-model="snack.state"
      :top="'top'"
      :right="'right'"
      :color="snack.color"
      :multi-line="snack.mode === 'multi-line'"
      :timeout="2500"
      :vertical="snack.mode === 'vertical'"
    >
      {{ snack.text }}
      <v-btn dark flat @click="snack.state = false">Cerrar</v-btn>
    </v-snackbar>
  </div>
</template>
<script>
/* eslint-disable no-console */
import Service from '../services/general';
import axios from 'axios';
export default {
  name: 'roles',
  data() {
    return {
      search: '',
      headers: [
        { text: '#', align: 'left', sortable: false },
        { text: 'Descripción ', value: 'descripcion' },
        { text: 'Estado ', value: 'estado' },
        { text: 'Acciones', sortable: false, width: '18%' }
      ],
      roles: [],
      rol: {
        id: '',
        descripcion: '',
        estado: ''
      },
      estados: [],
      mdialog: false,
      mconfirm: false,
      mode: true,
      snack: {
        state: false,
        color: "success",
        mode: "",
        timeout: 2500,
        text: ""
      }
    };
  },
  mounted() {
    this.estados = [
      { id: true, descripcion: 'activo' },
      { id: false, descripcion: 'inactivo' }
    ];
    this.getRoles();
  },
  computed: {},
  methods: {
    getRoles() {
      axios
        .get(Service.getBase() + 'roles')//, Service.getHeader()
        .then(response => {
          this.roles = response.data;
        })
        .catch(error => {
          console.error('Error al cargar registros', error);
        });
    },
    showDialog() {
      // this.$refs.form.reset();
      this.rol = {
        id: '',
        descripcion: '',
        estado: true
      };
      this.mode = true;
      this.mdialog = true;
    },
    createRol() {
      if (this.$refs.form.validate()) {
        axios
          .post(Service.getBase() + 'roles', this.rol)//, Service.getHeader()
          .then(() => {
            this.toast('success', 'Registro guardado');
            this.mdialog = false;
            this.getRoles();
          })
          .catch(() => {
            console.error('Error al guardar');
          });
      }
    },

    editItem(data) {
      this.rol = data;
      this.mode = false;
      this.mdialog = true;
    },

    updateRol() {
      if (this.$refs.form.validate()) {
        axios
          .put(Service.getBase() + 'roles/' + this.rol.id, this.rol)//, Service.getHeader()
          .then(() => {
            this.toast('success', 'Registro actualizado');
            this.mdialog = false;
            this.getRoles();
          })
          .catch(() => {
            this.toast('error', 'No se pudo actualizar');
            console.error('Error al actualizar');
          });
      }
    },

    confirmItem(id) {
      this.rol.id = id;
      this.mconfirm = true;
    },

    deleteItem() {
      axios
        .delete(Service.getBase() + 'roles/' + this.rol.id)//, Service.getHeader()
        .then(() => {
          this.toast('success', 'Registro eliminado');
          this.mconfirm = false;
          this.getRoles();
        })
        .catch(() => {
          console.error('Error al eliminar');
        });
    },

    toast(mcolor, mtext) {
      this.snack.state = mcolor;
      this.snack.text = mtext;
      this.snack.state = true;
    }
  }
};
</script>