<template>
  <div id="usuarios">
    <v-container grid-list-xl fluid>
      <v-card-title>
        <h4>
          <v-icon small color="primary">drag_indicator</v-icon>
          Usuarios
        </h4>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Buscar"
          single-line
        >
        </v-text-field>
        <!-- <v-spacer></v-spacer> -->
        <v-btn color="primary" dark @click="showDialog()">
          <v-icon>add</v-icon>Nuevo
        </v-btn>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="usuarios"
        class="elevation-1"
        rows-per-page-text="Filas por página"
        no-data-text="No existen registros"
        no-results-text="Sin resultados"
        page-text="de"
        v-bind:search="search"
        v-cloak
      >
        <template v-slot:items="props">
          <td>{{ props.index + 1 }}</td>
          <td>{{ props.item.nombre }}</td>
          <td>{{ props.item.telefono }}</td>
          <td>{{ props.item.rol.descripcion }}</td>
          <td>
            <span v-if="props.item.estado == 1">
              <v-chip small color="green lighten-4">activo</v-chip>
            </span>
            <span v-else>
              <v-chip small color="red lighten-4">inactivo</v-chip>
            </span>
          </td>
          <td>
            <v-btn
              depressed
              outline
              icon
              fab
              dark
              color="success"
              small
              @click="editItem(props.item)"
            >
              <v-icon>edit</v-icon>
            </v-btn>
            <v-btn
              depressed
              outline
              icon
              fab
              dark
              color="pink"
              small
              @click="confirmItem(props.item.id)"
            >
              <v-icon>delete</v-icon>
            </v-btn>
          </td>
        </template>
      </v-data-table>
    </v-container>
    <v-dialog v-model="mdialog" max-width="500px">
      <v-form ref="form">
        <v-card>
          <v-card-title class="headline grey lighten-3" primary-title>
            <span class="headline">Usuario</span>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field
                    type="text"
                    label="Nombre"
                    v-model="usuario.nombre"
                    :rules="[v => !!v || 'El campo es requerido']"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    type="text"
                    label="Teléfono"
                    v-model="usuario.telefono"
                    :rules="[v => !!v || 'El campo es requerido']"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-select
                    label="Cargo"
                    :items="roles"
                    v-model="usuario.rol_id"
                    item-text="descripcion"
                    item-value="id"
                    :rules="[v => !!v || 'El campo es requerido']"
                    required
                  ></v-select>
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    type="text"
                    label="Usuario"
                    v-model="usuario.username"
                    :rules="[v => !!v || 'El campo es requerido']"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field v-if="mode"
                    type="password"
                    label="Contraseña"
                    v-model="usuario.password"
                    :rules="[v => !!v || 'El campo es requerido']"
                    required
                  ></v-text-field>
                  <v-text-field v-else
                    type="password"
                    label="Contraseña"
                    v-model="usuario.password"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    label="Estado"
                    :items="estados"
                    v-model="usuario.estado"
                    item-text="descripcion"
                    item-value="id"
                  ></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="success darken-1"
              flat
              v-show="mode"
              @click.native="createUsuario()"
            >
              Guardar
            </v-btn>
            <v-btn
              color="success darken-1"
              flat
              v-show="!mode"
              @click.native="updateUsuario()"
            >
              Actualizar
            </v-btn>
            <v-btn color="blue darken-1" flat @click.native="mdialog = false">
              Cerrar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
    <v-dialog v-model="mconfirm" width="300">
      <v-card>
        <v-card-title class="headline grey lighten-3" primary-title>
          <span class="headline">Alerta</span>
        </v-card-title>
        <v-card-text>Esta seguro(a) de eliminar el registro?</v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="success darken-1" flat @click="deleteItem()">
            Aceptar
          </v-btn>
          <v-btn color="blue darken-1" flat @click="mconfirm = false">
            Cancelar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar
      v-model="snack.state"
      :top="'top'"
      :right="'right'"
      :color="snack.color"
      :multi-line="snack.mode === 'multi-line'"
      :timeout="2500"
      :vertical="snack.mode === 'vertical'"
    >
      {{ snack.text }}
      <v-btn dark flat @click="snack.state = false">Cerrar</v-btn>
    </v-snackbar>
  </div>
</template>
<script>
/* eslint-disable no-console */
import Service from '../services/general';
import axios from 'axios';
export default {
  name: 'usuarios',
  data() {
    return {
      search: '',
      headers: [
        { text: '#', align: 'left', sortable: false },
        { text: 'Nombre ', value: 'nombre' },
        { text: 'Teléfono ', value: 'telefono' },
        { text: 'Cargo ', value: 'rol_id' },
        { text: 'Estado ', value: 'estado' },
        { text: 'Acciones', sortable: false, width: '18%' }
      ],
      usuarios: [],
      usuario: {
        id: '',
        nombre: '',
        telefono: '',
        rol_id: '',
        username: '',
        password: '',
        estado: ''
      },
      roles: [],
      estados: [],
      mdialog: false,
      mconfirm: false,
      mode: true,
      snack: {
        state: false,
        color: 'success',
        mode: '',
        timeout: 2500,
        text: ''
      }
    };
  },
  mounted() {
    this.estados = [
      { id: true, descripcion: 'activo' },
      { id: false, descripcion: 'inactivo' }
    ];
    this.getUsuarios();
    this.getRoles();
  },
  computed: {},
  methods: {
    getUsuarios() {
      axios
        .get(Service.getBase() + 'usuarios')//, Service.getHeader()
        .then(response => {
          this.usuarios = response.data;
        })
        .catch(error => {
          console.error('Error al cargar registros', error);
        });
    },
    getRoles() {
      axios
        .get(Service.getBase() + 'active/roles')//, Service.getHeader()
        .then(response => {
          this.roles = response.data;
        })
        .catch(error => {
          console.error('Error al cargar registros', error);
        });
    },
    showDialog() {
      this.$refs.form.reset();
      this.mode = true;
      this.usuario = {
        id: '',
        nombre: '',
        telefono: '',
        cargo: '',
        username: '',
        password: '',
        estado: true
      };
      this.mdialog = true;
    },
    createUsuario() {
      if (this.$refs.form.validate()) {
        axios
          .post(Service.getBase() + 'usuarios', this.usuario)//, Service.getHeader()
          .then(() => {
            this.toast('success', 'Registro guardado');
            this.mdialog = false;
            this.getUsuarios();
          })
          .catch(() => {
            console.error('Error al guardar');
          });
      }
    },

    editItem(data) {
      this.mode = false;
      this.usuario = data;
      this.mdialog = true;
    },

    updateUsuario() {
      if (this.$refs.form.validate()) {
        axios
          .put(Service.getBase() + 'usuarios/' + this.usuario.id, this.usuario)//, Service.getHeader()
          .then(() => {
            this.toast('success', 'Registro actualizado');
            this.mdialog = false;
            this.getUsuarios();
          })
          .catch(() => {
            this.toast('error', 'No se pudo actualizar');
            console.error('Error al actualizar');
          });
      }
    },

    confirmItem(id) {
      this.usuario.id = id;
      this.mconfirm = true;
    },

    deleteItem() {
      axios
        .delete(Service.getBase() + 'usuarios/' + this.usuario.id)//, Service.getHeader()
        .then(() => {
          this.toast('success', 'Registro eliminado');
          this.mconfirm = false;
          this.getUsuarios();
        })
        .catch(error => {
          console.error('Error al eliminar', error);
        });
    },

    toast(mcolor, mtext) {
      this.snack.state = mcolor;
      this.snack.text = mtext;
      this.snack.state = true;
    }
  }
};
</script>